node_modules
storybook-static

verdaccio/*
!verdaccio/init
!verdaccio/login

.npmrc

dist
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store

logs
*.log

.env

test-results.xml

.husky/*
!.husky/pre-push

chromatic-build-*.xml
